<h2>Your order information:</h2>
<h3>Order id: <%= @order.id + 23423 %></h3>
<h3>Quantity: <%= @order.quantity %></h3> 
<h3>Product name: <%= @order.product.name %></h3>
<h3>Quantity: <%= @order.quantity %></h3>
<h3>Subtotal: <%= number_to_currency(@order.subtotal) %></h3>
<h3>Tax: <%= number_to_currency(@order.tax) %></h3>
<hr>
<h3>Total: <%= number_to_currency(@order.total) %></h3>

