<section>
  <div class="row">
    <div class="col-sm-9">
      <div class="product_single">
        <h2> <%= @product.name %></h2>
        <h4> Categories: <%= @product.printable_categories %></h4>
        <p><%= @product.sale_message%></p>
        <p> Price: <%= number_to_currency(@product.price) %></p>
        <p> Tax: <%= number_to_currency(@product.tax) %></p>
        <p> Total: <%= number_to_currency(@product.total) %></p>
        <%= form_tag '/orders', method: :post do %>
          <div>
            <%= label_tag :form_input_quantity, "Quantity:" %>
            <%= text_field_tag :form_input_quantity %>
            <%= hidden_field_tag :form_input_product_id, @product.id %>
            <%= submit_tag "Place order!" %>
          </div>
        <% end %>
        <% @product.images.each do |image_object| %>
          <img src="<%= image_object.path %>" alt="<%= @product.name %>" class="img-responsive">
        <% end %>
        <%= link_to "Edit this product", "/products/#{@product.id}/edit" %>
        <%= link_to "Delete this product", "/products/#{@product.id}", method: :delete %>
        <%= link_to "Back to all products", "/products" %> 
      </div>
    </div>
  </div>
</section>
